Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

.azuredevops/hipcub.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipCUB.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hipcub
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/hiprand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hiprand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocprim.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocPRIM.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocprim
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocrand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocrand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocthrust.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocThrust.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocthrust
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

ci(coverage): point coverage build back at ROCm/TheRock@therock_ref
  .github/workflows/therock-ci-coverage.yml
Due: none

ci(coverage): generate the coverage report on the test runner
  .github/workflows/therock-ci-coverage.yml
  .github/workflows/therock-test-component.yml
Due: none

ci(coverage): Option B - make PROFILE_DIR a cache var + pass from CI
  .github/workflows/therock-ci-coverage.yml
  .github/workflows/therock-test-component.yml
  projects/hiprand/test/CMakeLists.txt
Due: .azuredevops/hiprand.yml

ci(coverage): always export LLVM_PROFILE_FILE (comment out coverage_enabled guard)
  .github/workflows/therock-test-component.yml
Due: none

ci(coverage): consolidate rocRAND coverage flag and make coverage non-blocking
  .github/workflows/therock-ci.yml
  projects/rocrand/CMakeLists.txt
  projects/rocrand/test/internal/test_rocrand_lfsr113_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_philox_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
Due: .azuredevops/rocrand.yml

ci(coverage): make coverage host-only via -Xarch_host to fix device link
  projects/hiprand/CMakeLists.txt
  projects/rocblas/library/CMakeLists.txt
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocrand/CMakeLists.txt
Due: .azuredevops/hiprand.yml, .azuredevops/rocrand.yml

ci(coverage): scope PR to hipRAND only (remove rocBLAS/rocFFT/rocRAND)
  .github/scripts/therock_configure_coverage.py
  projects/rocblas/CMakeLists.txt
  projects/rocblas/clients/gtest/test_categories_coverage.yaml
  projects/rocblas/cmake/build-options.cmake
  projects/rocblas/cmake/toolchain-options.cmake
  projects/rocblas/library/CMakeLists.txt
  projects/rocblas/next-cmake/CMakeLists.txt
  projects/rocblas/next-cmake/README.rst
  projects/rocblas/rmake.py
  projects/rocfft/CMakeLists.txt
  projects/rocfft/README.md
  projects/rocfft/clients/tests/CMakeLists.txt
  projects/rocfft/clients/tests/test_categories_coverage.yaml
  projects/rocfft/library/src/CMakeLists.txt
  projects/rocrand/CMakeLists.txt
  projects/rocrand/benchmark/CMakeLists.txt
  projects/rocrand/test/internal/test_rocrand_lfsr113_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mt19937_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_philox_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
  projects/rocrand/test/test_categories_coverage.yaml
Due: .azuredevops/rocrand.yml

ci(coverage): run tests via coverage_runner.py (reboss suggestion)
  .github/scripts/coverage_runner.py
  .github/workflows/therock-test-component.yml
Due: none

Apply suggestion from @reboss
  .github/workflows/therock-ci-coverage.yml
Due: none

ci(coverage): harden test-side instrumentation diagnostic
  .github/workflows/therock-test-component.yml
Due: none

ci(coverage): re-enable therock-ci-coverage as a gating job in CI summary
  .github/workflows/therock-ci.yml
Due: none

ci(coverage): restore rocRAND benchmark AMD SMI soft-dependency (fix build)
  projects/rocrand/benchmark/CMakeLists.txt
Due: .azuredevops/rocrand.yml

ci(coverage): bust ccache for hipRAND coverage compile (fix 0-symbol build)
  projects/hiprand/CMakeLists.txt
Due: .azuredevops/hiprand.yml

ci(coverage): fail coverage_runner when no profraw (don't skip silently)
  .github/scripts/coverage_runner.py
Due: none

ci(coverage): check out ROCm/TheRock@therock_ref (revert reboss/TheRock@enable-codecov)
  .github/workflows/therock-ci-coverage.yml
Due: none

ci(coverage): fix coverage_runner test-dir derivation (don't die under set -e)
  .github/workflows/therock-test-component.yml
Due: none

added missing hipfree
  projects/hipcub/test/hipcub/test_hipcub_device_radix_sort.hpp
Due: .azuredevops/hipcub.yml

fixed typo in comment and changed to discrete seed
  projects/hipcub/test/hipcub/test_hipcub_device_scan.cpp
Due: .azuredevops/hipcub.yml

ci(therock): use Rust-enabled build image
  .github/actions/ci-env/action.yml
Due: none

fix(hipblaslt): GPU compare treats matching NaN/inf as agreement
  projects/hipblaslt/clients/common/include/gpu_compare.hpp
  projects/hipblaslt/clients/common/src/gpu_compare.cpp
Due: none

Update TheRock ref to cb90066
  .github/actions/ci-env/action.yml
Due: none

feat(rocke): performance measurement primitives (benchmark/perf) (#9212)
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/README.md
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/aggregate.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/counters.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/examples/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/examples/profile_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/report.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/sample_record.json
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/schema.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_aggregate.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_cli.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_counters.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_harness.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_occupancy.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_profile_gemm_sweep.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_report.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_schema.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_selfcheck.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tests/test_store.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/__init__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/__main__.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/cli.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/selfcheck.py
  dnn-providers/hip-kernel-provider/rocke/platform/python/rocke/benchmark/perf/tool/store.py
Due: none

Add copy test + reference
  projects/rpp/utilities/test/CMakeLists.txt
  projects/rpp/utilities/test/image/data_exchange/copy_test.cpp
  projects/rpp/utilities/test/reference/copy_ref.hpp
Due: none

Add stream level synchronization to tests rather than device wide sync
  projects/rpp/utilities/test/framework/backend_memory.hpp
  projects/rpp/utilities/test/image/arithmetic/magnitude_test.cpp
  projects/rpp/utilities/test/image/bitwise/bitwise_and_test.cpp
  projects/rpp/utilities/test/image/bitwise/bitwise_not_test.cpp
  projects/rpp/utilities/test/image/bitwise/bitwise_or_test.cpp
  projects/rpp/utilities/test/image/bitwise/bitwise_xor_test.cpp
  projects/rpp/utilities/test/image/color/blend_test.cpp
  projects/rpp/utilities/test/image/color/brightness_test.cpp
  projects/rpp/utilities/test/image/color/exposure_test.cpp
  projects/rpp/utilities/test/image/data_exchange/copy_test.cpp
  projects/rpp/utilities/test/image/effects/solarize_test.cpp
Due: none

build(miopen): bump version to 3.6.0 for next ROCm release (#9434)
  projects/miopen/CMakeLists.txt
Due: none

ci(hipblaslt): add Copilot code-review instructions pointing at PR-quality skill (#9380)
  .github/instructions/hipblaslt-pr-quality.instructions.md
Due: none

feat(ci): bump TheRock ref to 22004a6 (2026-07-20) (kpack enablement) (#9596)
  .github/actions/ci-env/action.yml
Due: none

Add 8 element row padding to strides in RPP descriptor construction + contrast/color_temperature references
  projects/rpp/utilities/test/CMakeLists.txt
  projects/rpp/utilities/test/framework/tensor_setup.hpp
  projects/rpp/utilities/test/image/color/color_temperature_test.cpp
  projects/rpp/utilities/test/image/color/contrast_test.cpp
  projects/rpp/utilities/test/reference/color_temperature_ref.hpp
  projects/rpp/utilities/test/reference/contrast_ref.hpp
Due: none

fix(tensilelite): drop xfail on gfx950 MXFP4 subtile common test
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/mxfp4_mxfp4_bf16_tn_act.yaml
Due: none

Gamma correction reference and test units
  projects/rpp/utilities/test/CMakeLists.txt
  projects/rpp/utilities/test/image/color/gamma_correction_test.cpp
  projects/rpp/utilities/test/reference/gamma_correction_ref.hpp
Due: none

docs(hipsparse): add SpGEAM generic API reference
  projects/hipsparse/docs/reference/api.rst
  projects/hipsparse/docs/reference/generic.rst
  projects/hipsparse/docs/reference/types.rst
Due: none

ci(rocjitsu): forward artifact environment through Mirage
  .github/scripts/run_rocjitsu_hipblaslt_race_check.sh
Due: none

fix(tensilelite): add acquire fence to SK4/SK5 dynamic StreamK fixup flag read
  projects/hipblaslt/tensilelite/Tensile/Components/StreamK.py
Due: none

test(hipsparse): exercise SpGEAM pattern merge with independent B
  projects/hipsparse/clients/include/testing_spgeam_csr.hpp
Due: none

fix(rocke/attention): exclude gfx942 D128 from sliced-K ring (correctness)
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/attention_unified.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_attn_bf16_d128_ring.py
Due: none

fix(miopen): remove deprecated <ciso646> include from serializable.hpp
  projects/miopen/src/include/miopen/serializable.hpp
Due: none

fix(ck-tile): multi_d GEMM bridge — require GPU arch via get_arch, do not default to gfx942
  projects/composablekernel/dispatcher/bindings/ctypes/multi_d_gemm_ctypes_lib.cpp
Due: none

fix(ck-tile): multi_abd GEMM bridge — require GPU arch via get_arch, do not default to gfx942
  projects/composablekernel/dispatcher/bindings/ctypes/gemm_multi_abd_ctypes_lib.cpp
Due: none

fix(ck-tile): mx_gemm bridge — require GPU arch via get_arch, do not default to a specific arch
  projects/composablekernel/dispatcher/bindings/ctypes/mx_gemm_ctypes_lib.cpp
  projects/composablekernel/dispatcher/codegen/unified_mx_gemm_codegen.py
  projects/composablekernel/dispatcher/python/mx_gemm_utils.py
Due: none

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt
