Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt

Deprecate thrust::null_type
  projects/rocthrust/test/test_tuple.cpp
  projects/rocthrust/testing/tuple.cu
  projects/rocthrust/thrust/detail/tuple.inl
  projects/rocthrust/thrust/tuple.h
Due: .azuredevops/rocthrust.yml

Deprecate thrust::optional
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_optional.cpp
  projects/rocthrust/thrust/optional.h
  projects/rocthrust/thrust/system/cuda/detail/future.inl
  projects/rocthrust/thrust/system/hip/detail/future.inl
Due: .azuredevops/rocthrust.yml

Deprecate thrust::numeric_limits
  projects/rocthrust/test/test_utils.hpp
  projects/rocthrust/testing/unittest/testframework.h
  projects/rocthrust/testing/unittest/util.h
  projects/rocthrust/thrust/limits.h
Due: .azuredevops/rocthrust.yml

Review/Deprecate CUB util.ptx for CCCL 2.x
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
Due: .azuredevops/rocthrust.yml

Redefine and deprecate thrust::remove_cvref
  projects/rocthrust/testing/async/exclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/inclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/test_policy_overloads.h
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/for_each.h
  projects/rocthrust/thrust/async/reduce.h
  projects/rocthrust/thrust/async/scan.h
  projects/rocthrust/thrust/async/sort.h
  projects/rocthrust/thrust/async/transform.h
  projects/rocthrust/thrust/detail/execute_with_dependencies.h
  projects/rocthrust/thrust/detail/pointer.h
  projects/rocthrust/thrust/detail/reference.h
  projects/rocthrust/thrust/detail/select_system.h
  projects/rocthrust/thrust/detail/type_traits.h
  projects/rocthrust/thrust/iterator/detail/transform_iterator.inl
  projects/rocthrust/thrust/system/cuda/detail/adjacent_difference.h
  projects/rocthrust/thrust/system/cuda/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/cuda/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/cuda/detail/async/reduce.h
  projects/rocthrust/thrust/system/cuda/detail/async/sort.h
  projects/rocthrust/thrust/system/cuda/detail/future.inl
  projects/rocthrust/thrust/system/cuda/detail/transform_scan.h
  projects/rocthrust/thrust/system/detail/generic/transform_scan.inl
  projects/rocthrust/thrust/system/hip/detail/adjacent_difference.h
  projects/rocthrust/thrust/system/hip/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/reduce.h
  projects/rocthrust/thrust/system/hip/detail/async/sort.h
  projects/rocthrust/thrust/system/hip/detail/future.inl
  projects/rocthrust/thrust/system/hip/detail/transform_scan.h
  projects/rocthrust/thrust/type_traits/remove_cvref.h
Due: .azuredevops/rocthrust.yml

Deprecate thrust macros from type_deduction.h
  projects/rocthrust/thrust/detail/type_deduction.h
Due: .azuredevops/rocthrust.yml

Replace and deprecate thrust::cuda_cub::terminate
  projects/rocthrust/thrust/system/cuda/detail/terminate.h
  projects/rocthrust/thrust/system/cuda/detail/util.h
  projects/rocthrust/thrust/system/hip/detail/terminate.h
  projects/rocthrust/thrust/system/hip/detail/util.h
Due: .azuredevops/rocthrust.yml

Backport to 2.8: Deprecate thrust::async
  projects/rocthrust/test/test_async_copy.cpp
  projects/rocthrust/test/test_async_for_each.cpp
  projects/rocthrust/test/test_async_reduce.cpp
  projects/rocthrust/test/test_async_reduce_into.cpp
  projects/rocthrust/test/test_async_scan.cpp
  projects/rocthrust/test/test_async_sort.cpp
  projects/rocthrust/test/test_async_transform.cpp
  projects/rocthrust/testing/async/exclusive_scan/mixin.h
  projects/rocthrust/testing/async/exclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async/inclusive_scan/mixin.h
  projects/rocthrust/testing/async/inclusive_scan/using_vs_adl.cu
  projects/rocthrust/testing/async_copy.cu
  projects/rocthrust/testing/async_for_each.cu
  projects/rocthrust/testing/async_reduce.cu
  projects/rocthrust/testing/async_reduce_into.cu
  projects/rocthrust/testing/async_sort.cu
  projects/rocthrust/testing/async_transform.cu
  projects/rocthrust/thrust/async/copy.h
  projects/rocthrust/thrust/async/for_each.h
  projects/rocthrust/thrust/async/reduce.h
  projects/rocthrust/thrust/async/scan.h
  projects/rocthrust/thrust/async/sort.h
  projects/rocthrust/thrust/async/transform.h
Due: .azuredevops/rocthrust.yml

Deprecate and replace thrust::cuda_cub iterators
  projects/rocthrust/thrust/system/cuda/detail/count.h
  projects/rocthrust/thrust/system/cuda/detail/extrema.h
  projects/rocthrust/thrust/system/cuda/detail/find.h
  projects/rocthrust/thrust/system/cuda/detail/inner_product.h
  projects/rocthrust/thrust/system/cuda/detail/mismatch.h
  projects/rocthrust/thrust/system/cuda/detail/transform_scan.h
  projects/rocthrust/thrust/system/cuda/detail/util.h
  projects/rocthrust/thrust/system/hip/detail/count.h
  projects/rocthrust/thrust/system/hip/detail/extrema.h
  projects/rocthrust/thrust/system/hip/detail/find.h
  projects/rocthrust/thrust/system/hip/detail/inner_product.h
  projects/rocthrust/thrust/system/hip/detail/mismatch.h
  projects/rocthrust/thrust/system/hip/detail/transform_reduce.h
  projects/rocthrust/thrust/system/hip/detail/transform_scan.h
  projects/rocthrust/thrust/system/hip/detail/util.h
Due: .azuredevops/rocthrust.yml

Backport to 2.8: Deprecate thrust universal iterator categories
  projects/rocthrust/thrust/iterator/detail/universal_categories.h
Due: .azuredevops/rocthrust.yml

Backport to 2.8: Internalize triple_chevron
  projects/rocthrust/thrust/system/cuda/detail/core/agent_launcher.h
  projects/rocthrust/thrust/system/cuda/detail/core/triple_chevron_launch.h
Due: .azuredevops/rocthrust.yml

Deprecate thrust logical meta functions
  projects/rocthrust/thrust/type_traits/logical_metafunctions.h
Due: .azuredevops/rocthrust.yml

Deprecate macros from cuda/detail/core/util.h
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
Due: .azuredevops/rocthrust.yml

Fix issues with nvrtc compilation
  projects/rocthrust/thrust/detail/config/cpp_dialect.h
Due: .azuredevops/rocthrust.yml

Backport to 2.8: Make thrust iterators work with NVRTC and replace CUB iterators by Thrust ones
  projects/rocthrust/testing/cuda/adjacent_difference.cu
  projects/rocthrust/thrust/detail/alignment.h
  projects/rocthrust/thrust/detail/allocator_aware_execution_policy.h
  projects/rocthrust/thrust/detail/execute_with_allocator_fwd.h
  projects/rocthrust/thrust/detail/numeric_traits.h
  projects/rocthrust/thrust/detail/tuple_transform.h
  projects/rocthrust/thrust/detail/type_deduction.h
  projects/rocthrust/thrust/detail/type_traits/has_nested_type.h
  projects/rocthrust/thrust/detail/type_traits/minimum_type.h
  projects/rocthrust/thrust/detail/type_traits/pointer_traits.h
  projects/rocthrust/thrust/iterator/constant_iterator.h
  projects/rocthrust/thrust/iterator/counting_iterator.h
  projects/rocthrust/thrust/iterator/detail/any_system_tag.h
  projects/rocthrust/thrust/iterator/detail/counting_iterator.inl
  projects/rocthrust/thrust/iterator/detail/discard_iterator_base.h
  projects/rocthrust/thrust/iterator/detail/iterator_facade_category.h
  projects/rocthrust/thrust/iterator/detail/tuple_of_iterator_references.h
  projects/rocthrust/thrust/iterator/detail/universal_categories.h
  projects/rocthrust/thrust/iterator/discard_iterator.h
  projects/rocthrust/thrust/iterator/iterator_adaptor.h
  projects/rocthrust/thrust/iterator/iterator_categories.h
  projects/rocthrust/thrust/iterator/iterator_facade.h
  projects/rocthrust/thrust/iterator/iterator_traits.h
  projects/rocthrust/thrust/iterator/permutation_iterator.h
  projects/rocthrust/thrust/iterator/reverse_iterator.h
  projects/rocthrust/thrust/iterator/tabulate_output_iterator.h
  projects/rocthrust/thrust/iterator/transform_input_output_iterator.h
  projects/rocthrust/thrust/iterator/transform_iterator.h
  projects/rocthrust/thrust/iterator/transform_output_iterator.h
  projects/rocthrust/thrust/iterator/zip_iterator.h
  projects/rocthrust/thrust/system/cpp/detail/execution_policy.h
  projects/rocthrust/thrust/system/cuda/detail/execution_policy.h
  projects/rocthrust/thrust/system/cuda/detail/util.h
  projects/rocthrust/thrust/system/detail/sequential/execution_policy.h
  projects/rocthrust/thrust/system/hip/detail/execution_policy.h
  projects/rocthrust/thrust/system/hip/detail/util.h
Due: .azuredevops/rocthrust.yml

Backport to 2.8: Deprecate cub::AliasTemporaries and cub::PolicyWrapper
  projects/rocthrust/thrust/system/cuda/detail/copy_if.h
  projects/rocthrust/thrust/system/cuda/detail/core/util.h
  projects/rocthrust/thrust/system/cuda/detail/extrema.h
  projects/rocthrust/thrust/system/cuda/detail/partition.h
  projects/rocthrust/thrust/system/cuda/detail/reduce.h
  projects/rocthrust/thrust/system/cuda/detail/reduce_by_key.h
  projects/rocthrust/thrust/system/cuda/detail/unique.h
  projects/rocthrust/thrust/system/cuda/detail/unique_by_key.h
Due: .azuredevops/rocthrust.yml

Add b200 tunings for scan.exclusive.sum
  projects/rocthrust/test/test_scan.cpp
  projects/rocthrust/testing/scan.cu
  projects/rocthrust/thrust/system/cuda/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/cuda/detail/scan.h
Due: .azuredevops/rocthrust.yml

Revert Thrust mismatch implementation to please nvc++
  projects/rocthrust/testing/cuda/mismatch.cu
  projects/rocthrust/thrust/system/cuda/detail/mismatch.h
  projects/rocthrust/thrust/system/hip/detail/mismatch.h
Due: .azuredevops/rocthrust.yml

Suppress deprecatings on logical meta functions
  projects/rocthrust/thrust/type_traits/logical_metafunctions.h
Due: .azuredevops/rocthrust.yml

Revert Thrust find_if_not implementation to please nvc++
  projects/rocthrust/thrust/system/cuda/detail/find.h
  projects/rocthrust/thrust/system/hip/detail/find.h
Due: .azuredevops/rocthrust.yml

Bump branch/2.8.x to 2.8.2.
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/thrust/version.h
Due: .azuredevops/rocthrust.yml

Bump branch/2.8.x to 2.8.1.
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/thrust/version.h
Due: .azuredevops/rocthrust.yml

Bump branch/2.8.x to 2.8.4.
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/thrust/version.h
Due: .azuredevops/rocthrust.yml

Bump branch/2.8.x to 2.8.3.
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/thrust/version.h
Due: .azuredevops/rocthrust.yml

Bump branch/2.8.x to 2.8.5.
  projects/rocthrust/.gitlab-ci.yml
  projects/rocthrust/thrust/version.h
Due: .azuredevops/rocthrust.yml

Use commit before build system change
  projects/hipsparselt/tensilelite_tag.txt
Due: none

automatically download rocprof trace decoder
  shared/rocroller/loop.py
  shared/rocroller/loop.sh
Due: none

Fix TF32 failures
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bjlk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Origami/gfx950_Cijk_Alik_Bljk_S_MX_B_Bias_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx950/xfp32.yaml
Due: none

Correct HIP_CHECK name collision
  projects/rocrand/test/internal/test_rocrand_config_dispatch.cpp
Due: .azuredevops/rocrand.yml

small refactor + comments
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Due: none

Adding retry
  .github/scripts/therock_configure_ci.py
Due: none

Add .string()
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/tensile_host.cpp
Due: none

Add openMP to improve perf
  projects/hipblaslt/tensilelite/CMakeLists.txt
  projects/hipblaslt/tensilelite/src/analytical/AnalyticalGemm.cpp
  projects/hipblaslt/tensilelite/src/analytical/Utils.cpp
Due: none

Remove conditional from body of test's target_include_directories cmake clause
  projects/hipfft/clients/tests/CMakeLists.txt
Due: none

Skip i128 in test_device_transform.cpp if unsupported.
  projects/rocprim/test/rocprim/test_device_transform.cpp
Due: .azuredevops/rocprim.yml

clean up tensilelite readme
  projects/hipblaslt/tensilelite/README.md
Due: none

Add comment
  projects/hipblaslt/tensilelite/src/analytical/Utils.cpp
Due: none

Clean up the hipblaslt readme
  projects/hipblaslt/README.md
Due: none
