Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt

Add comment that explains why part of the .get() test is not working
  projects/rocthrust/test/test_unique_ptr_general.cpp
Due: .azuredevops/rocthrust.yml

Add "Based on" comments in allocate_deallocate test file
  projects/rocthrust/test/test_unique_ptr_allocate_deallocate.cpp
Due: .azuredevops/rocthrust.yml

Change names of tests in general file
  projects/rocthrust/test/test_unique_ptr_general.cpp
Due: .azuredevops/rocthrust.yml

Move unique_ptr_deleter_sfinae to thrust::detail namespace
  projects/rocthrust/thrust/unique_ptr.h
Due: .azuredevops/rocthrust.yml

Add restriction to get_raw only with default_delete
  projects/rocthrust/thrust/unique_ptr.h
Due: .azuredevops/rocthrust.yml

More namespace fixes for miopen::conv::ProblemDescription. Moved env var to top of file to avoid namespace conflicts there.
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
Due: none

feat(rocprim): let create_optimization.py support gfx1201
  projects/rocprim/scripts/autotune/create_optimization.py
Due: .azuredevops/rocprim.yml

feat(rocprim): add apply_config_improvements.py
  projects/rocprim/CHANGELOG.md
  projects/rocprim/docs/conceptual/rocPRIM-performance-tuning.rst
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
  projects/rocprim/scripts/apply_config_improvements/selectors.json
Due: .azuredevops/rocprim.yml

New CHANGELOG.md entry
  projects/rocthrust/CHANGELOG.md
Due: .azuredevops/rocthrust.yml

feat(rocprim): check paths exist, reject duplicate args
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

feat(rocprim): print results for total, slower, and marginal improvements
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

feat(rocprim): print horizontal line under header
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

Tuning BBS and SGEMM and F8BS for gfx950
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Ailk_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bjlk_S_B_BiasS_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_BBS_BH_BiasSB_HAS_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SABV_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_F8BS_BH_BiasSB_HAS_SAB_SAV_UserArgs.yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx950/Equality/gfx950_Cijk_Alik_Bljk_S_B_BiasS_HAS_SAV_UserArgs.yaml
Due: none

Modernize type traits to use C++17 _v and _t aliases
  projects/rocthrust/thrust/unique_ptr.h
Due: .azuredevops/rocthrust.yml

feat(rocprim): handle more errors
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

EnginePlugin: add hipdnnEnginePluginGetWorkspaceSizeFromExecutionContext()
  projects/hipdnn/backend/src/plugin/EnginePlugin.cpp
  projects/hipdnn/backend/src/plugin/EnginePlugin.hpp
  projects/hipdnn/backend/tests/plugins/EnginePlugin1.cpp
  projects/hipdnn/backend/tests/plugins/EnginePluginApiImpl.cpp
  projects/hipdnn/backend/tests/plugins/EnginePluginApiImpl.hpp
  projects/hipdnn/tests/test_plugins/TestPluginCommon.hpp
Due: none

added #if MIOPEN_BACKEND_HIP && MIOPEN_USE_COMPOSABLEKERNEL guards around relevant functions
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
Due: none

remove comment
  projects/hipdnn/sdk/tests/test_utilities/TestCpuReferencePointwise.cpp
Due: none

expanded MIOPEN_BACKEND_HIP && MIOPEN_USE_COMPOSABLEKERNEL guards
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_bwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_fwd_xdlops.cpp
  projects/miopen/src/solver/conv/conv_hip_implicit_gemm_3d_grouped_wrw_xdlops.cpp
Due: none

fix commented out tests
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/BatchnormGraphUtils.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestBatchnormFwdInferencePlan.cpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestBatchnormFwdInferenceSignatureKey.cpp
Due: none

add virtual back to cpu graph executor
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/BatchnormGraphUtils.hpp
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestCpuReferenceGraphExecutor.cpp
Due: none

add tests for GraphTensorBundle
  projects/hipdnn/sdk/tests/CMakeLists.txt
  projects/hipdnn/sdk/tests/test_utilities/cpu_graph_executor/TestGraphTensorBundle.cpp
Due: none

fix(rocprim): handle old JSON data not existing
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

style(rocprim): remove dedicated Algorithm column
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

style(rocprim): add spaces in headers
  projects/rocprim/scripts/apply_config_improvements/apply_config_improvements.py
Due: .azuredevops/rocprim.yml

added templates
  shared/rocroller/lib/include/rocRoller/Serialization/ELF.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/ELF_impl.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/comgr/comgr.hpp
  shared/rocroller/lib/source/Utilities/ReadELF.cpp
Due: none

Reapply "Use cached device properties from rocblas_handle (#1011)"
  projects/rocsolver/library/src/auxiliary/rocauxiliary_larf.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_larfg.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_larft.hpp
  projects/rocsolver/library/src/auxiliary/rocauxiliary_steqr.hpp
  projects/rocsolver/library/src/lapack/roclapack_geqr2.hpp
  projects/rocsolver/library/src/lapack/roclapack_gesdd.hpp
  projects/rocsolver/library/src/lapack/roclapack_sytd2_hetd2.hpp
  projects/rocsolver/library/src/specialized/roclapack_gemm_specialized_kernels.hpp
Due: none

applied formatting. removed compile log
  projects/rocsolver/compile_log.txt
  projects/rocsolver/library/src/include/rocsolver_logger.hpp
Due: none

Explain motivation for SFINAE constraints
  projects/rocthrust/thrust/unique_ptr.h
Due: .azuredevops/rocthrust.yml

Suppress clang self-move warnings
  projects/rocthrust/test/test_unique_ptr_general.cpp
Due: .azuredevops/rocthrust.yml

Update roadmap
  projects/hipdnn/docs/Roadmap.md
Due: none

Fix clang tidy to properly enforce protected member and public member variable naming.
  projects/hipdnn/.clang-tidy
  projects/hipdnn/backend/tests/TestBackendLogger.cpp
  projects/hipdnn/backend/tests/descriptors/TestEngineConfigDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestEngineDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestEngineHeuristicDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestExecutionPlanDescriptor.cpp
  projects/hipdnn/backend/tests/descriptors/TestVariantPackDescriptor.cpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/BatchnormAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/BatchnormBackwardAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ConvolutionDgradAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ConvolutionFpropAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/ConvolutionWgradAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/attributes/PointwiseAttributes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormBackwardNode.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/BatchnormNode.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/node/Node.hpp
  projects/hipdnn/frontend/tests/TestBatchnormBackwardNode.cpp
  projects/hipdnn/frontend/tests/TestBatchnormNode.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/integration_tests/IntegrationGpuConvForward.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/TestMiopenConvFwdOperations.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/common/ConvolutionCommon.hpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/engines/plans/TestMiopenBatchnormPlanBuilder.cpp
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/mocks/MockHipdnnEnginePluginExecutionContext.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/CpuFpReferenceUtilities.hpp
  projects/hipdnn/sdk/include/hipdnn_sdk/test_utilities/FlatbufferGraphTestUtils.hpp
  projects/hipdnn/sdk/tests/test_utilities/TestCpuFpReferenceUtilities.cpp
Due: none

fix a format
  projects/hipdnn/backend/tests/descriptors/TestVariantPackDescriptor.cpp
Due: none

first changes to support separate plugin project for TheRock
  projects/hipdnn/plugins/miopen_legacy_plugin/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin/cmake/Tests.cmake
  projects/hipdnn/plugins/miopen_legacy_plugin/cmake/scripts/test_name_validator.py
  projects/hipdnn/plugins/miopen_legacy_plugin/integration_tests/CMakeLists.txt
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/CMakeLists.txt
Due: none

removed missed gfx9XX support
  projects/miopen/test/gtest/unit_conv_solver_ConvHipImplicitGemmV4R1WrW.cpp
Due: none

Few more updates
  projects/hipdnn/docs/Roadmap.md
Due: none

fix the local matching the member varibles now. it caused problems with the move
  projects/hipdnn/plugins/miopen_legacy_plugin/tests/common/ConvolutionCommon.hpp
Due: none

Remove comment
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Due: none

Add tests
  projects/hipblaslt/clients/tests/data/matmul_gtest.yaml
Due: none

Disable for all 1byte GEMMs
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
Due: none
