Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

.azuredevops/hipcub.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipCUB.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hipcub
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/hiprand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hiprand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocprim.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocPRIM.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocprim
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocrand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocrand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocthrust.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocThrust.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocthrust
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

chore: add build infra team to CMake codeowners
  .github/CODEOWNERS
Due: none

Ex CI: create roc/hipFFT triggers
  .azuredevops/hipfft.yml
  .azuredevops/rocfft.yml
Due: none

add release-staging/rocm-rel-7.* triggers
  .azuredevops/hipfft.yml
  .azuredevops/rocfft.yml
Due: none

added special cases
  projects/rocthrust/test/test_complex_various.cpp
Due: .azuredevops/rocthrust.yml

Test for using default github token
  .github/workflows/pre-formatting.yml
Due: none

Updating token for theROCK workflow
  .github/workflows/therock-ci.yml
Due: none

Testing it on test branch
  .github/workflows/pre-formatting.yml
Due: none

Reverting Changes to theROCK
  .github/workflows/therock-ci.yml
Due: none

Testing default gh_token
  .github/workflows/pre-formatting.yml
Due: none

test
  projects/hipblaslt/cmake/Utilities.cmake
Due: none

test
  projects/hipfft/clients/CMakeLists.txt
Due: none

cherry picked over rocrand unit tests
  projects/rocrand/CHANGELOG.md
  projects/rocrand/test/internal/test_log_normal_distribution.cpp
  projects/rocrand/test/internal/test_normal_distribution.cpp
  projects/rocrand/test/internal/test_rocrand_discrete.cpp
  projects/rocrand/test/internal/test_rocrand_mrg31k3p_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mrg32k3a_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_poisson.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
  projects/rocrand/test/internal/test_uniform_distribution.cpp
Due: .azuredevops/rocrand.yml

ported over hipCUB unit tests
  projects/hipcub/test/hipcub/test_hipcub_block_exchange.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_merge_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_rank.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_reduce.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_scan.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_shuffle.cpp
Due: .azuredevops/hipcub.yml

ported over rocthrust unit tests
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_binary_search.cpp
  projects/rocthrust/test/test_complex.cpp
  projects/rocthrust/test/test_complex_various.cpp
  projects/rocthrust/test/test_constant_iterator.cpp
  projects/rocthrust/test/test_copy.cpp
  projects/rocthrust/test/test_header.hpp
Due: .azuredevops/rocthrust.yml

test
  projects/rocprim/cmake/Dependencies.cmake
Due: .azuredevops/rocprim.yml

fixed ambiguous call to transform, negate, plus
  projects/rocthrust/test/test_constant_iterator.cpp
Due: .azuredevops/rocthrust.yml

updated some test range
  projects/rocthrust/test/test_complex_various.cpp
Due: .azuredevops/rocthrust.yml

implemented reciprocal tests
  projects/rocthrust/test/test_complex_various.cpp
Due: .azuredevops/rocthrust.yml

- Fix issue with wgs / tpt / tpb in partial-pass kernel configuration.
  library/src/device/generator/stockham_gen.cpp
Due: none

[GitHub Actions] Fix for pushes to old repos
  .github/workflows/pr-merge-sync-patches.yml
Due: none

Move CONTRIBUTING.md to root dir
  CONTRIBUTING.md
Due: none

Update rocroller hash to include fix for ROCm 7.0 breaking changes
  library/CMakeLists.txt
Due: none

ported over hipCUB tests
  projects/hipcub/CHANGELOG.md
  projects/hipcub/test/hipcub/test_hipcub_block_exchange.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_merge_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_rank.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_radix_sort.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_reduce.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_scan.cpp
  projects/hipcub/test/hipcub/test_hipcub_block_shuffle.cpp
Due: .azuredevops/hipcub.yml

ported over rocrand unit tests
  projects/rocrand/CHANGELOG.md
  projects/rocrand/test/internal/test_log_normal_distribution.cpp
  projects/rocrand/test/internal/test_normal_distribution.cpp
  projects/rocrand/test/internal/test_rocrand_discrete.cpp
  projects/rocrand/test/internal/test_rocrand_mrg31k3p_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mrg32k3a_prng.cpp
  projects/rocrand/test/internal/test_rocrand_mtgp32_prng.cpp
  projects/rocrand/test/internal/test_rocrand_poisson.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_scrambled_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol32_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_sobol64_qrng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry2x64_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x32_20_prng.cpp
  projects/rocrand/test/internal/test_rocrand_threefry4x64_20_prng.cpp
  projects/rocrand/test/internal/test_uniform_distribution.cpp
Due: .azuredevops/rocrand.yml

ported over rocthrust tests
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/test/CMakeLists.txt
  projects/rocthrust/test/test_binary_search.cpp
  projects/rocthrust/test/test_complex.cpp
  projects/rocthrust/test/test_copy.cpp
  projects/rocthrust/test/test_header.hpp
Due: .azuredevops/rocthrust.yml

ported over fix
  projects/hipcub/CHANGELOG.md
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/block/block_exchange.hpp
Due: .azuredevops/hipcub.yml

ported in missing test
  projects/rocthrust/test/test_complex_various.cpp
Due: .azuredevops/rocthrust.yml

[GitHub Actions] import flows to release staging
  .github/scripts/therock_configure_ci.py
  .github/scripts/therock_matrix.py
  .github/workflows/pr-auto-label.yml
  .github/workflows/pr-import.yml
  .github/workflows/pr-merge-sync-patches-manual.yml
  .github/workflows/pre-formatting.yml
  .github/workflows/therock-ci-linux.yml
  .github/workflows/therock-ci.yml
  .github/workflows/therock-test-packages.yml
Due: none

Fix negative WGM for StreamK
  tensilelite/Tensile/KernelWriterAssembly.py
Due: none

Add test for WGM with SK
  tensilelite/Tensile/Tests/common/streamk/sk_f8gemm_wgm.yaml
Due: none

Modify added test
  tensilelite/Tensile/Tests/common/streamk/sk_f8gemm_quick.yaml
  tensilelite/Tensile/Tests/common/streamk/sk_f8gemm_wgm.yaml
Due: none

- Add validation and fix hardcoded offset calculation in partial pass kernel.
  library/src/device/generator/stockham_pp_gen_rr.h
Due: none

updating workflows to sync individual repos from rel-staging
  .github/workflows/pr-merge-sync-patches-manual.yml
Due: none

implemeted extra ranges for log functions
  projects/rocthrust/test/test_complex_various.cpp
Due: .azuredevops/rocthrust.yml

Attempting to add support for GFX1151 for the issue highlighted here https://github.com/ROCm/MIOpen/issues/1528
  src/include/miopen/solver/ck_utility_common.hpp
  src/include/miopen/solver/implicitgemm_util.hpp
  src/kernels/MIOpenBatchNormActivBwdPerAct.cl
  src/kernels/MIOpenBatchNormActivBwdSpatial.cl
  src/kernels/MIOpenBatchNormActivFwdTrainSpatial.cl
  src/kernels/MIOpenBatchNormBwdSpatial.cl
  src/kernels/MIOpenBatchNormFwdTrainSpatial.cl
  src/kernels/batchnorm_functions.h
  src/solver/batchnorm/backward_per_activation.cpp
  src/solver/batchnorm/backward_per_activation_fused.cpp
  src/solver/batchnorm/backward_spatial.cpp
  src/solver/batchnorm/forward_inference.cpp
  src/solver/batchnorm/forward_per_activation.cpp
  src/solver/batchnorm/forward_per_activation_fused.cpp
  src/solver/batchnorm/forward_spatial.cpp
  test/CMakeLists.txt
  test/gtest/cba_find2_infer.cpp
  test/gtest/conv_extra.cpp
  test/gtest/conv_group.cpp
  test/gtest/fusion_test.cpp
  test/gtest/gtest_common.cpp
  test/gtest/gtest_common.hpp
  test/gtest/miopendriver_gemm.cpp
  test/gtest/miopendriver_regression_half.cpp
Due: none

removing unnecessary changes.
  src/include/miopen/solver/ck_utility_common.hpp
Due: none

removed lauren as code owner
  projects/hipcub/.github/CODEOWNERS
  projects/hiprand/.github/CODEOWNERS
  projects/rocprim/.github/CODEOWNERS
  projects/rocrand/.github/CODEOWNERS
  projects/rocthrust/.github/CODEOWNERS
Due: none

[Ex CI] add rocm-rel-7.* branch triggers
  .azuredevops/hipcub.yml
  .azuredevops/hipfft.yml
  .azuredevops/hiprand.yml
  .azuredevops/rocfft.yml
  .azuredevops/rocrand.yml
  .azuredevops/rocthrust.yml
Due: none

fix(rocthrust): qualify invocations to thrust::distance to resolve potential ambiguity
  projects/rocthrust/thrust/system/hip/detail/async/copy.h
  projects/rocthrust/thrust/system/hip/detail/async/exclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/for_each.h
  projects/rocthrust/thrust/system/hip/detail/async/inclusive_scan.h
  projects/rocthrust/thrust/system/hip/detail/async/reduce.h
Due: .azuredevops/rocthrust.yml

docs(rocthrust): update changelog
  projects/rocthrust/CHANGELOG.md
Due: .azuredevops/rocthrust.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt
