Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

.azuredevops/hipcub.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipCUB.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hipcub
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/hiprand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hiprand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocprim.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocPRIM.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocprim
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocrand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocrand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocthrust.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocThrust.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocthrust
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

refactor(rocthrust): assert the HIPSTDPAR v0 std::align invariant
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): report when the HIPSTDPAR MAP_FIXED rejection is not exercised
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
Due: .azuredevops/rocthrust.yml

feat(hipcub, rocprim, rocthrust): add cccl 3.1 changelogs and version bumps
  projects/hipcub/CHANGELOG.md
  projects/hipcub/CMakeLists.txt
  projects/rocprim/CHANGELOG.md
  projects/rocprim/CMakeLists.txt
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/CMakeLists.txt
Due: .azuredevops/hipcub.yml, .azuredevops/rocprim.yml, .azuredevops/rocthrust.yml

fix(hipcub): do not use _HIPCUB_STD::(min|max) part 2
  projects/hipcub/benchmark/benchmark_device_histogram.cpp
Due: .azuredevops/hipcub.yml

fix(hipcub): fix incorrect mergeconflict resolution in argmax in cub/device/device_reduce.hpp
  projects/hipcub/hipcub/include/hipcub/backend/cub/device/device_reduce.hpp
Due: .azuredevops/hipcub.yml

fix(rocthrust): cherry-pick missing offset_iterator.h
  projects/rocthrust/thrust/iterator/offset_iterator.h
Due: .azuredevops/rocthrust.yml

fix(hipcub): do not use _HIPCUB_STD::(min|max)
  projects/hipcub/benchmark/benchmark_device_reduce_by_key.cpp
  projects/hipcub/benchmark/benchmark_device_run_length_encode.cpp
  projects/hipcub/benchmark/benchmark_utils.hpp
Due: .azuredevops/hipcub.yml

fix(hipcub): replace deprecated 'hipcub::Sum' call with 'benchmark_utils::plus'
  projects/hipcub/benchmark/benchmark_device_adjacent_difference.cpp
Due: .azuredevops/hipcub.yml

feat(tensilelite): Enable PrefetchGL2 with GSU (#12507)
  projects/hipblaslt/tensilelite/Tensile/Common/ValidParameters.py
  projects/hipblaslt/tensilelite/Tensile/Components/GL2Prefetch.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/pgl_bound_check.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/gemm/gfx12/tdm_multicast_gfx1250.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_prefetchgl2_streamk_guard.py
Due: none

fixes
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_implicit_gemm_wgrad_two_stage.py
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_wgrad_workspace_reduce.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_conv_wgrad_correctness.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_conv_implicit_gemm_wgrad.h
Due: none

WIP
  dnn-providers/hip-kernel-provider/src/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/cmake/KernelTidy.cmake
  dnn-providers/hip-kernel-provider/src/engines/hip_mlops_engine/kernels/CMakeLists.txt
Due: none

feat(rocprim): generalize types as a dictionary for possible more types
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge.hpp
  projects/rocprim/tuning/tuner/base_tuner.py
  projects/rocprim/tuning/tuner/tuning_device_merge.py
  projects/rocprim/tuning/tuner/tuning_device_partition.py
  projects/rocprim/tuning/tuner/tuning_device_reduce.py
  projects/rocprim/tuning/tuner/tuning_device_reduce_by_key.py
  projects/rocprim/tuning/tuner/tuning_device_scan.py
  projects/rocprim/tuning/tuner/tuning_device_scan_by_key.py
  projects/rocprim/tuning/tuner/tuning_device_segmented_reduce.py
  projects/rocprim/tuning/tuner/tuning_device_select.py
  projects/rocprim/tuning/tuner/tuning_device_select_flag.py
  projects/rocprim/tuning/tuner/tuning_device_select_predicate.py
  projects/rocprim/tuning/tuner/tuning_device_select_predicated_flag.py
  projects/rocprim/tuning/tuner/tuning_device_select_unique.py
  projects/rocprim/tuning/tuner/tuning_device_select_unique_by_key.py
Due: .azuredevops/rocprim.yml

feat(rocprim): adding device_histogram to kernel tuner with some minor fixes base script
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_histogram.hpp
  projects/rocprim/tuning/confgen/generate.py
  projects/rocprim/tuning/confgen/templates/common/base.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_histogram.h.jinja2
  projects/rocprim/tuning/run_tuning.py
  projects/rocprim/tuning/tuner/base_tuner.py
  projects/rocprim/tuning/tuner/templates/common/base.cpp.jinja2
  projects/rocprim/tuning/tuner/templates/device_histogram.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_histogram.py
Due: .azuredevops/rocprim.yml

Remove unused autotuning part device histogram benchmark
  projects/rocprim/benchmark/benchmark_device_histogram.hpp
  projects/rocprim/benchmark/benchmark_device_histogram.parallel.cpp.in
  projects/rocprim/tuning/tuner/templates/device_histogram.cpp.jinja2
Due: .azuredevops/rocprim.yml

fix(rocprim): simplify setting the params
  projects/rocprim/tuning/confgen/templates/common/base.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_histogram.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_partition.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_reduce.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_scan.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_select_predicated_flag.h.jinja2
Due: .azuredevops/rocprim.yml

fix(tuning): Make the changes for the adjacent algos
  projects/rocprim/tuning/confgen/templates/device_adjacent_difference.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_adjacent_find.h.jinja2
  projects/rocprim/tuning/run_tuning.py
  projects/rocprim/tuning/tuner/tuning_device_adjacent_difference.py
  projects/rocprim/tuning/tuner/tuning_device_adjacent_find.py
  projects/rocprim/tuning/tuner/tuning_device_merge.py
Due: .azuredevops/rocprim.yml

fix(rocprim): Make the changes to search algos
  projects/rocprim/tuning/confgen/templates/device_binary_search.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_search_n.h.jinja2
  projects/rocprim/tuning/tuner/tuning_device_binary_search.py
  projects/rocprim/tuning/tuner/tuning_device_lower_bound.py
  projects/rocprim/tuning/tuner/tuning_device_search_n.py
  projects/rocprim/tuning/tuner/tuning_device_upper_bound.py
Due: .azuredevops/rocprim.yml

fix(rocprim): fix missing ,
  projects/rocprim/tuning/run_tuning.py
Due: .azuredevops/rocprim.yml

fix(rocthrust): clear HIP errors that the HIPSTDPAR interposers handle
  projects/rocthrust/test/hipstdpar/test_calloc.cpp
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): release rejected MAP_FIXED_NOREPLACE mappings in HIPSTDPAR
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

refactor(rocthrust): simplify HIPSTDPAR calloc and zero-sized posix_memalign
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): give hipstd::__initialised external linkage
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): make HIPSTDPAR allocation smoke checks effective
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/test/hipstdpar/test_zero_size_alloc.cpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): tidy HIPSTDPAR allocation tests
  projects/rocthrust/test/hipstdpar/CMakeLists.txt
  projects/rocthrust/test/hipstdpar/test_calloc.cpp
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/test/hipstdpar/test_realloc.cpp
Due: .azuredevops/rocthrust.yml

docs(rocthrust): note HIPSTDPAR allocation interposition fixes in the changelog
  projects/rocthrust/CHANGELOG.md
Due: .azuredevops/rocthrust.yml

Added graph execution code for batchNorm forward training GPU ref
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/GpuReferenceGraphExecutor.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainPlan.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainSignatureKey.hpp
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuPlanRegistrySignatureKey.hpp
Due: none

Modified EpsilonTestUtils to ScalarTestUtils so it can be used for any scalar instead of just epsilon
  dnn-providers/integration-tests/tests/EpsilonTestUtils.hpp
  dnn-providers/integration-tests/tests/LayernormBwdGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/LayernormFwdGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/ScalarTestUtils.hpp
  dnn-providers/integration-tests/tests/TestGpuRMSNormPlan.cpp
Due: none

Added unit tests for graph execution of batchnorm forward training GPU ref
  dnn-providers/integration-tests/tests/BatchnormFwdTrainGraphTestUtils.hpp
  dnn-providers/integration-tests/tests/CMakeLists.txt
  dnn-providers/integration-tests/tests/TestGpuBatchnormFwdTrainPlan.cpp
  dnn-providers/integration-tests/tests/TestGpuBatchnormFwdTrainSignatureKey.cpp
Due: none

Checking presence of peer stats tensors & rejecting the plan if they are present
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainPlan.hpp
Due: none

TestGpuBatchnormFwdInfVariancePlan.cpp: updated to use ScalarTestUtils.hpp instead of EpsilonTestUtils.hpp
  dnn-providers/integration-tests/tests/TestGpuBatchnormFwdInfVariancePlan.cpp
Due: none

GpuBatchnormFwdTrainPlan.hpp: removed epsilon & momentum data type requirement to be same as compute data type
  dnn-providers/integration-tests/src/harness/gpu-graph-executor/detail/GpuBatchnormFwdTrainPlan.hpp
Due: none

fix(rocke/conv): address review feedback on the depthwise-col port
  dnn-providers/hip-kernel-provider/rocke/library/kernels/common/conv_direct_grouped.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_direct_conv_correctness.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_direct_depthwise_col_golden.py
  dnn-providers/hip-kernel-provider/rocke/library/tests/test_direct_depthwise_col_validate.py
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/core/lower_llvm/mem.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/include/rocke/instance_conv_direct_grouped_internal.h
  dnn-providers/hip-kernel-provider/rocke/platform/cpp/instances/common/conv_direct_grouped_build_depthwise_col.cpp
  dnn-providers/hip-kernel-provider/rocke/platform/tests/instances/rocke_ir_parity_harness.py
Due: none

fix(mirror-sync): stage ignored paths so force-tracked files sync (#11640)
  .github/scripts/pr_merge_sync_patches.py
  .github/scripts/tests/test_pr_merge_sync_patches.py
Due: none

fix(integration-tests): Fix RMSNormFwd GPU reference bfp16 test failures on gfx950 (#11787)
  dnn-providers/integration-tests/test_categories.yaml
  dnn-providers/integration-tests/tests/gpu-ref/RMSNormTestCase.hpp
Due: none

Update TheRock ref to 8b46a27 (baseline: 36390205996)
  .github/actions/ci-env/action.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/therock-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan-nightly.yml
  .github/workflows/therock-multi-arch-ci-asan.yml
  .github/workflows/therock-multi-arch-ci-nightly.yml
  .github/workflows/therock-multi-arch-ci.yml
Due: none

test(rocthrust): check that HIPSTDPAR free leaves no HIP error pending
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
Due: .azuredevops/rocthrust.yml

docs(rocthrust): clarify HIPSTDPAR pending-error comments and changelog
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): reject interposer versions without interposition in add_hipstdpar_test
  projects/rocthrust/test/hipstdpar/CMakeLists.txt
Due: .azuredevops/rocthrust.yml

fix(rocprim): update sort algorithms and fix some bugs
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_merge.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_merge_sort_block_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_block_sort.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_radix_sort_onesweep.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/config/device_segmented_radix_sort.hpp
  projects/rocprim/tuning/confgen/templates/device_merge_sort_block_merge.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_merge_sort_block_sort.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_radix_sort_block_sort.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_radix_sort_onesweep.h.jinja2
  projects/rocprim/tuning/confgen/templates/device_segmented_radix_sort.h.jinja2
  projects/rocprim/tuning/tuner/templates/device_segmented_radix_sort.cpp.jinja2
  projects/rocprim/tuning/tuner/tuning_device_merge_sort_block_merge.py
  projects/rocprim/tuning/tuner/tuning_device_merge_sort_block_sort.py
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_block_sort.py
  projects/rocprim/tuning/tuner/tuning_device_radix_sort_onesweep.py
  projects/rocprim/tuning/tuner/tuning_device_segmented_radix_sort.py
Due: .azuredevops/rocprim.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt
