Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

.azuredevops/hipcub.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipCUB.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hipcub
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/hiprand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hiprand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocprim.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocPRIM.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocprim
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocrand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocrand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocthrust.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocThrust.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocthrust
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

[miopen] Drop redundant Gemm LargeMemory positive pattern
  projects/miopen/test/gtest/test_categories.yaml
Due: none

[tensilelite] Fix --use-cache existence check for zlib-compressed .dat files
  projects/hipblaslt/tensilelite/Tensile/BenchmarkProblems.py
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_create_benchmark_client_params.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_library_paths.py
Due: none

add rocBLAS and rocSPARSE as independent coverage components
  .github/scripts/therock_configure_coverage.py
  projects/rocblas/CMakeLists.txt
  projects/rocsparse/CMakeLists.txt
  test_categories_coverage.yaml
Due: none

docs(hipblaslt): address ScottTodd quality-metrics review feedback
  .github/workflows/hipblaslt-tensilelite-quality.yml
  projects/hipblaslt/tensilelite/.pre-commit-config.yaml
  projects/hipblaslt/tensilelite/scripts/quality/BASELINE.md
  projects/hipblaslt/tensilelite/scripts/quality/llm_readability_report.py
Due: none

format coverage metadata table with black
  .github/scripts/therock_configure_coverage.py
Due: none

[tensilelite] fix joblib 'Set changed size during iteration' in logic loading
  projects/hipblaslt/tensilelite/Tensile/TensileCreateLibrary/Run.py
Due: none

format coverage runner and metadata exporter with black
  .github/scripts/coverage_runner.py
  .github/scripts/export_coverage_metadata.py
Due: none

test(hipblaslt): add unit test for the llm-readability scanner
  projects/hipblaslt/tensilelite/scripts/quality/test_llm_readability_report.py
Due: none

TO BE TESTED
  projects/hipfft/clients/hipfft_params.h
  projects/hipfft/clients/tests/hipfftw_test.cpp
  projects/hipfft/clients/tests/hipfftxt_test.cpp
  projects/hipfft/library/src/amd_detail/hipfft.cpp
  projects/hipfft/library/src/amd_detail/include/hipfft_field.h
  projects/hipfft/shared/hip_object_wrapper.h
  projects/hipfft/shared/rocfft_hip.h
Due: none

[miopen] Rename GetCases accessor to GetCasesFull for tier-naming symmetry
  projects/miopen/test/gtest/ctc.cpp
  projects/miopen/test/gtest/reduce.cpp
  projects/miopen/test/gtest/tensor_trans.cpp
  projects/miopen/test/gtest/w_supertensor.cpp
Due: none

add amdhsa_system_sgpr_workgroup_id_y/z in gl2_prefetch unit test
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_gl2_prefetch_offset.py
Due: none

[miopen] Trim stale comments from test_categories.yaml
  projects/miopen/test/gtest/test_categories.yaml
Due: none

[InitCIterWmma in stinkytofu] RegionClonePass - marker-driven region clone (#8096)
  projects/hipblaslt/tensilelite/Tensile/Common/GlobalParameters.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriter.py
  projects/hipblaslt/tensilelite/Tensile/KernelWriterAssembly.py
  projects/hipblaslt/tensilelite/Tensile/SolutionStructs/Solution.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_bigfiles_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_emit_gfx1250_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r3_datamover_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_r3_streamk_gfx1250_char.ambr
  shared/stinkytofu/include/stinkytofu/bindings/python/Module.hpp
  shared/stinkytofu/include/stinkytofu/core/Function.hpp
  shared/stinkytofu/include/stinkytofu/pipeline/CloneSpec.hpp
  shared/stinkytofu/include/stinkytofu/transforms/asm/RegionClonePass.hpp
  shared/stinkytofu/src/conversion/rocisa/ToStinkyTofuUtils.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
  shared/stinkytofu/src/serialization/asm/IRParser.cpp
  shared/stinkytofu/src/transforms/asm/CMakeLists.txt
  shared/stinkytofu/src/transforms/asm/RegionClonePass.cpp
  shared/stinkytofu/tests/filecheck/region_clone_initc.stir
  shared/stinkytofu/tools/stinkytofu-opt/stinkytofu-opt.hpp
Due: none

fix quick return test; kd=0 is invalid, not quick return. Fix ldv.
  projects/rocsolver/clients/common/auxiliary/testing_ormtr_unmtr_hb2st.hpp
  projects/rocsolver/clients/gtest/auxiliary/ormtr_unmtr_hb2st_gtest.cpp
Due: none

added SyncsPerBenchmark:0 to yaml files
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_activation_basic.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_activation_batch_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_activation_full_coverage.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_activation_streamk_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_atomic_variants.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_basic_variants.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_batch_mi_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_batch_sizes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_comprehensive.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_debug_modes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_full_coverage.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_groupedgemm_activation_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_groupedgemm_basic.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_groupedgemm_batch_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_groupedgemm_full_coverage.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_groupedgemm_streamk_combo.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_matrix_instructions.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_problem_sizes.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_tree_reduction.yaml
  projects/hipblaslt/tensilelite/Tensile/Tests/common/streamk/gfx950/sk_mxfp4_xcc_mapping.yaml
Due: none

add mxf4 logic yaml
  projects/hipblaslt/library/src/amd_detail/rocblaslt/src/Tensile/Logic/asm_full/gfx1250/GridBased/gfx1250_Cijk_Alik_Bljk_F4BS_MXAE8B32_MXBE8B32_BH_UserArgs.yaml
Due: none

add mxf4 config yaml
  projects/hipblaslt/tensilelite/mxf4_bf16out_tn.yaml
Due: none

Revert "[rocThrust] Change default SQLite3 to system package and bump SQLite3…"
  projects/rocthrust/CHANGELOG.md
  projects/rocthrust/cmake/Dependencies.cmake
Due: .azuredevops/rocthrust.yml

skip coverage report gracefully when no profraw is produced
  .github/scripts/coverage_runner.py
Due: none

changes done based on feedback
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/conftest.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_KernelWriterBetaOnly.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_WorkGroupMappingAlgos.py
Due: none

drop rocSPARSE coverage component
  .github/scripts/therock_configure_coverage.py
  projects/rocsparse/CMakeLists.txt
  test_categories_coverage.yaml
Due: none

(CMCL) Capture autotuneResults for all skip/failure cases add new result fields to capture exhaustive priming.
  projects/hipdnn/docs/rfcs/0013_Autotune.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneBenchmark.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneFileWriter.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneTypes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/KnobConstants.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/PlanSpec.hpp
  projects/hipdnn/frontend/tests/TestAutotuneFileWriter.cpp
  projects/hipdnn/frontend/tests/TestAutotuneTypes.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/samples/autotune/AutotuneSample.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotuneCompiledPlanPath.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotuneConfigRoundTrip.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotuneConfigRoundTripUnsupportedOp.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotuneEndToEnd.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotuneExhaustive.cpp
  projects/hipdnn/tests/frontend/IntegrationAutotunePersistence.cpp
Due: none

change done based on feedback
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation_fusion.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Activation_postprocess.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_Problem.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_ValidMatrixInstruction.py
Due: none

(CMCL) Remove doxygen from non-public methods and only use ASCII characters in source files.
  projects/hipdnn/docs/rfcs/0013_Autotune.md
  projects/hipdnn/frontend/include/hipdnn_frontend/Graph.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneBenchmark.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneFileWriter.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/AutotuneTypes.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/KnobConstants.hpp
  projects/hipdnn/frontend/include/hipdnn_frontend/autotune/PlanSpec.hpp
  projects/hipdnn/frontend/tests/TestAutotune.cpp
  projects/hipdnn/frontend/tests/TestAutotuneFileWriter.cpp
  projects/hipdnn/frontend/tests/TestAutotuneTypes.cpp
  projects/hipdnn/frontend/tests/TestGraph.cpp
  projects/hipdnn/samples/autotune/AutotuneSample.cpp
Due: none

Added therock paths test_runner.py test_miopen.py
  test/therock/test_miopen.py
  test/therock/test_runner.py
Due: none

Adds ffm-quick and ffm-full filter definitions to the test_categories.yaml files for MIOpen
  projects/miopen/test/gtest/test_categories.yaml
Due: none

pre-commit fix
  test/therock/test_runner.py
Due: none

test: skip gfx1250 codegen tests when assembler lacks gfx1250 support
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_subtile_gfx1250_codegen.py
Due: none

Formatting
  projects/rocrand/CHANGELOG.md
  projects/rocrand/library/src/rng/sobol.hpp
Due: .azuredevops/rocrand.yml

Changelog
  projects/hipcub/CHANGELOG.md
  projects/rocprim/CHANGELOG.md
  projects/rocrand/CHANGELOG.md
  projects/rocthrust/CHANGELOG.md
Due: .azuredevops/hipcub.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

Restore things that should be there
  projects/hipcub/CHANGELOG.md
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/thread/thread_reduce.hpp
  projects/rocthrust/testing/docs/doxybook_test.h
Due: .azuredevops/hipcub.yml, .azuredevops/rocthrust.yml

rocPRIM safely removed deprecated functions
  projects/rocprim/rocprim/include/rocprim/iterator/zip_iterator.hpp
  projects/rocprim/rocprim/include/rocprim/type_traits_functions.hpp
Due: .azuredevops/rocprim.yml

hipCUB safely remove deprecated structs in util_types.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/util_type.hpp
Due: .azuredevops/hipcub.yml

hipCUB safely removed deprecated functions iterator_wrapper thread_reduce
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/iterator/iterator_wrapper.hpp
  projects/hipcub/hipcub/include/hipcub/backend/rocprim/thread/thread_reduce.hpp
Due: .azuredevops/hipcub.yml

rocThrust safely removed deprecated variable
  projects/rocthrust/testing/docs/doxybook_test.h
Due: .azuredevops/rocthrust.yml

[stinkytofu] Include callee Functions in before/after-pass IR dumps
  shared/stinkytofu/include/stinkytofu/pipeline/ScopeAdaptor.hpp
  shared/stinkytofu/include/stinkytofu/support/DebugPrintInstrumentation.hpp
  shared/stinkytofu/src/core/DebugPrintInstrumentation.cpp
  shared/stinkytofu/src/pipeline/backend/Gfx1250Backend.cpp
Due: none

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt
