Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt

revert hipblas-common changes
  projects/hipblas-common/CMakeLists.txt
Due: none

revert hipsparse-common changes
  projects/hipblas-common/library/include/hipsparse-common/hipsparse-common.h
  projects/hipblas-common/library/include/hipsparse-common/hipsparse-generic-types.h
  projects/hipblas-common/library/include/hipsparse-common/hipsparse-types.h
Due: none

[rocfft] remove .jenkins folder
  projects/rocfft/.jenkins/application.groovy
  projects/rocfft/.jenkins/common.groovy
  projects/rocfft/.jenkins/debug.groovy
  projects/rocfft/.jenkins/extended.groovy
  projects/rocfft/.jenkins/multigpu.groovy
  projects/rocfft/.jenkins/performance.groovy
  projects/rocfft/.jenkins/staticanalysis.groovy
  projects/rocfft/.jenkins/staticlibrary.groovy
Due: none

[miopen] docs: Change GitHub links and install guides for mono-repo
  projects/miopen/README.md
  projects/miopen/docs/index.rst
  projects/miopen/docs/install/embed.rst
  projects/miopen/docs/install/install.rst
  projects/miopen/docs/sphinx/_toc.yml.in
Due: none

- More code review suggestions.
  projects/rocfft/library/src/rtc_stockham_kernel.cpp
Due: none

Minor copy edit
  projects/miopen/README.md
Due: none

clean up libs-common
  projects/hipsparselt/next-cmake/CMakeLists.txt
  projects/hipsparselt/next-cmake/README.rst
  shared/libs-common/.azuredevops/rocm-ci.yml
  shared/libs-common/CMakeLists.txt
  shared/libs-common/README.md
  shared/libs-common/README.rst
  shared/libs-common/cmake/FetchROCmCMake.cmake
  shared/libs-common/cmake/dependencies.cmake
  shared/libs-common/cmake/libs-common-config.cmake.in
  shared/libs-common/rmake.py
Due: none

feat: add libs-common for first-party shared headers
  shared/libs-common/.azuredevops/rocm-ci.yml
  shared/libs-common/.github/CODEOWNERS
  shared/libs-common/CMakeLists.txt
  shared/libs-common/CMakePresets.json
  shared/libs-common/LICENSE.md
  shared/libs-common/README.rst
  shared/libs-common/cmake/FetchROCmCMake.cmake
  shared/libs-common/library/include/hipblas-common/hipblas-common.h
  shared/libs-common/library/include/hipsparse-common/hipsparse-common.h
  shared/libs-common/library/include/hipsparse-common/hipsparse-generic-types.h
  shared/libs-common/library/include/hipsparse-common/hipsparse-types.h
  shared/libs-common/tests/CMakeLists.txt
  shared/libs-common/tests/main.cpp
Due: none

- Remove casts from offset calculation.
  projects/rocfft/library/src/device/generator/stockham_pp_gen_cc.h
Due: none

Fix merge issue
  projects/hipblaslt/tensilelite/Tensile/Source/lib/source/analytical/StreamK.cpp
Due: none

Adding tensile
  .github/scripts/therock_matrix.py
Due: none

update tensile_tag to address perf regression
  projects/rocblas/tensile_tag.txt
Due: none

Pass swizzling info into API and verify that it matches the KernelOption for now.
  shared/rocroller/lib/include/rocRoller/KernelGraph/ControlGraph/Operation.hpp
  shared/rocroller/lib/include/rocRoller/KernelGraph/KernelGraph.hpp
  shared/rocroller/lib/include/rocRoller/KernelOptions_detail.hpp
  shared/rocroller/lib/include/rocRoller/Operations/Operations.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/ControlGraph.hpp
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/LowerFromCommand.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/LowerTensorContraction.cpp
Due: none

Revert to single option (not A/B separate) for now.
  shared/rocroller/client/include/client/DataParallelGEMMSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/src/GEMMParameters.cpp
  shared/rocroller/client/src/gemm.cpp
Due: none

Add doxygen comments for new template arg
  projects/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_select.hpp
Due: .azuredevops/rocprim.yml

- Add parent length to partial-pass kernel name.
  projects/rocfft/library/src/include/rtc_stockham_gen.h
  projects/rocfft/library/src/rocfft_aot_helper.cpp
  projects/rocfft/library/src/rtc_stockham_gen.cpp
  projects/rocfft/library/src/rtc_stockham_kernel.cpp
Due: none

Code cleanup.
  shared/rocroller/client/include/client/PreSwizzle.hpp
  shared/rocroller/client/src/gemm.cpp
Due: none

Apply review feedback
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/ConnectWorkgroups.hpp
  shared/rocroller/lib/source/KernelGraph/Transformations/ConnectWorkgroups.cpp
  shared/rocroller/test/unit/GEMMTest.cpp
Due: none

Fix formatting.
  shared/rocroller/client/include/client/DataParallelGEMMSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/include/client/GraphInspector.hpp
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/client/src/visualize.cpp
  shared/rocroller/lib/include/rocRoller/Operations/Operations_impl.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/llvm/YAML.hpp
  shared/rocroller/lib/include/rocRoller/Serialization/yaml-cpp/YAML.hpp
  shared/rocroller/lib/include/rocRoller/TensorDescriptor.hpp
  shared/rocroller/lib/source/CodeGen/Arithmetic/ScaledMatrixMultiply.cpp
  shared/rocroller/lib/source/KernelGraph/LowerFromCommand.cpp
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
  shared/rocroller/test/catch/TensorDescriptorTest.cpp
  shared/rocroller/test/common/include/common/mxDataGen.hpp
Due: none

Code cleanup.
  shared/rocroller/lib/include/rocRoller/TensorDescriptor_impl.hpp
  shared/rocroller/lib/source/TensorDescriptor.cpp
  shared/rocroller/scripts/lib/rrperf/rrsuites.py
Due: none

Code cleanup.
  shared/rocroller/test/catch/TensorDescriptorTest.cpp
  shared/rocroller/test/unit/PermLanesTest.cpp
Due: none

Fix format issue
  shared/rocroller/client/include/client/BenchmarkSolution.hpp
  shared/rocroller/client/include/client/DataParallelGEMMSolution.hpp
  shared/rocroller/client/include/client/GEMMParameters_serialization.hpp
  shared/rocroller/client/include/client/GEMMSolution.hpp
  shared/rocroller/client/include/client/StreamKGEMMSolution.hpp
  shared/rocroller/client/src/gemm.cpp
  shared/rocroller/lib/include/rocRoller/CommandSolution.hpp
  shared/rocroller/lib/source/CommandSolution.cpp
  shared/rocroller/lib/source/KernelGraph/Transformations/ConnectWorkgroups.cpp
  shared/rocroller/test/catch/AddDeallocateTest.cpp
  shared/rocroller/test/catch/AddPrefetchTest.cpp
  shared/rocroller/test/catch/AliasDataFlowTagsTest.cpp
  shared/rocroller/test/catch/KernelGraphRemoveDuplicatesTest.cpp
  shared/rocroller/test/common/include/common/GEMMProblem.hpp
  shared/rocroller/test/unit/GEMMTest.cpp
  shared/rocroller/test/unit/KernelGraphTest/UpdateParameters.cpp
Due: none

Update CMakeLists with new files.
  shared/rocroller/client/CMakeLists.txt
  shared/rocroller/lib/include/CMakeLists.txt
Due: none

Fix format issue
  shared/rocroller/lib/include/rocRoller/KernelGraph/Transforms/ConnectWorkgroups.hpp
Due: none

able to get counters; the problem was the wrong rocprofv3 command
  shared/rocroller/hip.cpp
  shared/rocroller/loop.sh
Due: none

Optimize device_select, device_partition for MI3xx multi-stream performance (#1041)
  projects/hipccl/hipccl3/rocprim/CHANGELOG.md
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/device_partition.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/hipccl/hipccl3/rocprim/rocprim/include/rocprim/device/device_select.hpp
Due: none

Optimize device_select, device_partition for MI3xx multi-stream performance (#1041)
  projects/hipccl/hipccl2/rocprim/CHANGELOG.md
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/device_partition.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/hipccl/hipccl2/rocprim/rocprim/include/rocprim/device/device_select.hpp
Due: none

Optimize device_select, device_partition for MI3xx multi-stream performance (#1041)
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/device/detail/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_partition.hpp
  projects/rocprim/rocprim/include/rocprim/device/device_select.hpp
Due: .azuredevops/rocprim.yml

[fix] Now non-swizzled stride can be less than lda*A_col
  projects/hipblaslt/clients/gtest/matmul_gtest.yaml
  projects/hipblaslt/clients/include/testing_matmul.hpp
Due: none

Change workgroupMapping to two values
  shared/rocroller/scripts/lib/rrperf/problems.py
Due: none

Change workgroupMapping to two values
  shared/rocroller/scripts/lib/rrperf/analyze.py
Due: none

Exclude 950 from bad workspace size test
  projects/hipblaslt/clients/gtest/auxiliary_gtest.yaml
  projects/hipblaslt/clients/gtest/hipblaslt_test.cpp
  projects/hipblaslt/clients/include/hipblaslt_arguments.hpp
  projects/hipblaslt/clients/include/hipblaslt_common.yaml
Due: none

Add thrust_create_target DISPATCH option.
  projects/rocthrust/test/test_copy.cpp
  projects/rocthrust/test/test_count.cpp
  projects/rocthrust/test/test_inner_product.cpp
  projects/rocthrust/test/test_max_element.cpp
  projects/rocthrust/test/test_min_element.cpp
  projects/rocthrust/test/test_minmax_element.cpp
  projects/rocthrust/test/test_reduce.cpp
  projects/rocthrust/test/test_scan.cpp
  projects/rocthrust/test/test_set_difference.cpp
  projects/rocthrust/test/test_set_intersection.cpp
  projects/rocthrust/test/test_unique_by_key.cpp
  projects/rocthrust/testing/copy.cu
  projects/rocthrust/testing/count.cu
  projects/rocthrust/testing/cuda/adjacent_difference.cu
  projects/rocthrust/testing/cuda/partition.cu
  projects/rocthrust/testing/cuda/reduce_by_key.cu
  projects/rocthrust/testing/cuda/sort.cu
  projects/rocthrust/testing/inner_product.cu
  projects/rocthrust/testing/max_element.cu
  projects/rocthrust/testing/min_element.cu
  projects/rocthrust/testing/minmax_element.cu
  projects/rocthrust/testing/reduce.cu
  projects/rocthrust/testing/scan.cu
  projects/rocthrust/testing/set_difference.cu
  projects/rocthrust/testing/set_intersection.cu
  projects/rocthrust/testing/unique_by_key.cu
Due: .azuredevops/rocthrust.yml

avoid gcc optimizer bug by not force inlining part of thrust::transform
  projects/rocthrust/thrust/system/cuda/detail/transform.h
  projects/rocthrust/thrust/system/hip/detail/transform.h
Due: .azuredevops/rocthrust.yml

Replace inconsistent Doxygen macros with _CCCL_DOXYGEN_INVOKED
  projects/rocthrust/docs/doxygen/Doxyfile
  projects/rocthrust/thrust/detail/type_deduction.h
  projects/rocthrust/thrust/device_make_unique.h
  projects/rocthrust/thrust/device_malloc_allocator.h
  projects/rocthrust/thrust/device_ptr.h
  projects/rocthrust/thrust/device_reference.h
  projects/rocthrust/thrust/memory.h
  projects/rocthrust/thrust/mr/new.h
  projects/rocthrust/thrust/optional.h
  projects/rocthrust/thrust/pair.h
  projects/rocthrust/thrust/random/linear_congruential_engine.h
  projects/rocthrust/thrust/tuple.h
Due: .azuredevops/rocthrust.yml

Use Ruff to sort imports
  projects/rocthrust/scripts/gdb-pretty-printers.py
Due: .azuredevops/rocthrust.yml

[Internal Cleanup] pre-commit ruff (excluding docs/tools, libcudacxx/test)
  projects/rocthrust/scripts/gdb-pretty-printers.py
Due: .azuredevops/rocthrust.yml

Move _CCCL_COMPILER_ICC to the new macro
  projects/rocthrust/test/test_async_copy.cpp
  projects/rocthrust/test/test_scan.cpp
  projects/rocthrust/testing/async_copy.cu
  projects/rocthrust/testing/scan.cu
Due: .azuredevops/rocthrust.yml

fix various old compiler checks
  projects/rocthrust/thrust/system/cuda/detail/uninitialized_copy.h
  projects/rocthrust/thrust/system/cuda/detail/uninitialized_fill.h
  projects/rocthrust/thrust/type_traits/is_contiguous_iterator.h
Due: .azuredevops/rocthrust.yml

Move our CUDACC version checks towards the new version check design
  projects/rocthrust/testing/cuda/sort.cu
Due: .azuredevops/rocthrust.yml
