Repository ROCm/rocm-libraries: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/hipcub.yml, .azuredevops/hiprand.yml, .azuredevops/rocprim.yml, .azuredevops/rocrand.yml, .azuredevops/rocthrust.yml

.azuredevops/hipcub.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipCUB.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hipcub
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/hiprand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/hipRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/hiprand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocprim.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocPRIM.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocprim
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocrand.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocRAND.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocrand
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

.azuredevops/rocthrust.yml:
  jobs:
  - template: ${{ variables.CI_COMPONENT_PATH }}/rocThrust.yml@pipelines_repo
    parameters:
      sparseCheckoutDir: projects/rocthrust
      triggerDownstreamJobs: ${{ parameters.triggerDownstreamJobs }}

Ck/ltqin/qr tdm hdim (#12350)
  projects/composablekernel/example/ck_tile/01_fmha/CMakeLists.txt
  projects/composablekernel/example/ck_tile/01_fmha/codegen/ops/fmha_fwd.py
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/block_fmha_pipeline_qr_ks_vs_tdm_policy.hpp
  projects/composablekernel/include/ck_tile/ops/fmha/pipeline/tile_fmha_shape.hpp
  projects/composablekernel/test/ck_tile/fmha/test_fmha_fwd.cpp
  projects/composablekernel/test/ck_tile/fmha/test_qr_tdm_lds_padding.cpp
Due: none

test(ck_tile): cover named barrier ring id allocation at compile time
  projects/composablekernel/test/ck_tile/core/arch/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/test_barrier.cpp
Due: none

feat(ck_tile): add gfx1250 hardware named barrier producer/consumer rings
  projects/composablekernel/include/ck_tile/core.hpp
  projects/composablekernel/include/ck_tile/core/arch/named_barrier.hpp
Due: none

test(ck_tile): add gfx1250-gated device test for the named barrier ring
  projects/composablekernel/test/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/CMakeLists.txt
  projects/composablekernel/test/ck_tile/core/arch/test_barrier_device.cpp
Due: none

fix(ck_tile): wait for the TDM store in TdmEpilogue before returning
  projects/composablekernel/include/ck_tile/ops/epilogue/tdm_epilogue.hpp
  projects/composablekernel/test/ck_tile/epilogue/CMakeLists.txt
  projects/composablekernel/test/ck_tile/epilogue/test_tdm_epilogue.cpp
Due: none

refactor(ck_tile): move the wavelet helpers into a shared header
  projects/composablekernel/include/ck_tile/ops/gemm.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/wavelet_utils.hpp
  projects/composablekernel/include/ck_tile/ops/grouped_convolution/utils/grouped_convolution_utils.hpp
Due: none

test(ck_tile): replay the named barrier ring protocol on the host
  projects/composablekernel/test/ck_tile/core/arch/test_barrier.cpp
Due: none

feat(ck_tile): add run() to drive a named barrier ring's whole K loop
  projects/composablekernel/include/ck_tile/core/arch/named_barrier.hpp
Due: none

test(ck_tile): cover named barrier ring run() on gfx1250
  projects/composablekernel/test/ck_tile/core/arch/test_barrier_device.cpp
Due: none

feat(ck_tile): run wavelet and named barrier pipelines in UniversalGemmKernel
  projects/composablekernel/include/ck_tile/ops/epilogue/tdm_epilogue.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/kernel/universal_gemm_kernel.hpp
Due: none

refactor(ck_tile): select TDM test behaviour by trait, not suite name
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_ut_cases.inc
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Due: none

feat(ck_tile): add the producer/consumer TDM GEMM pipeline
  projects/composablekernel/include/ck_tile/ops/gemm.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_tdm_producer_consumer.hpp
  projects/composablekernel/include/ck_tile/ops/gemm/pipeline/gemm_pipeline_ag_bg_cr_comp_tdm_producer_consumer_policy.hpp
Due: none

test(ck_tile): cover the producer/consumer TDM GEMM pipeline
  projects/composablekernel/test/ck_tile/gemm/CMakeLists.txt
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_comp_tdm_producer_consumer_wmma.cpp
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_kernel_types.hpp
  projects/composablekernel/test/ck_tile/gemm/test_gemm_pipeline_util.hpp
Due: none

Fix avx2 U8 multiplication
  projects/rpp/src/modules/tensor/cpu/kernel/tensor_binary_operations.cpp
Due: none

Revert "fix (rocprim): Update lookback scan and ordered_block_id optimizations to include gfx1250" (#12593)
  projects/rocprim/CHANGELOG.md
  projects/rocprim/rocprim/include/rocprim/config.hpp
  projects/rocprim/rocprim/include/rocprim/device/config_types.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/lookback_scan_state.hpp
  projects/rocprim/rocprim/include/rocprim/device/detail/ordered_block_id.hpp
  projects/rocprim/rocprim/include/rocprim/intrinsics/atomic.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_load.hpp
  projects/rocprim/rocprim/include/rocprim/thread/thread_store.hpp
Due: .azuredevops/rocprim.yml

Fix the include order in rocsparse-generic.h for clang-format
  projects/rocsparse/library/include/internal/rocsparse-generic.h
Due: none

Implement rocsparse_spsort for COO matrices
  projects/rocsparse/clients/samples/documentation_examples/generic/example_rocsparse_spsort_coo.cpp
  projects/rocsparse/library/include/internal/generic/rocsparse_spsort.h
  projects/rocsparse/library/src/CMakeLists.txt
  projects/rocsparse/library/src/conversion/rocsparse_coosort.cpp
  projects/rocsparse/library/src/conversion/rocsparse_coosort.hpp
  projects/rocsparse/library/src/conversion/rocsparse_gcoosort.cpp
  projects/rocsparse/library/src/conversion/rocsparse_spsort.cpp
Due: none

feat(rocblas): Select tensile gfx1250-strict library according to revision (#12321)
  projects/rocblas/library/src/include/utility.hpp
  projects/rocblas/library/src/rocblas_auxiliary.cpp
  projects/rocblas/library/src/tensile_host.cpp
Due: none

test(hip-kernel-provider): reach the gfx950 dense attention tile variants
  dnn-providers/hip-kernel-provider/hipkernel_Gfx950AttentionDense_test_categories_integration.yaml
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/hip-kernel-provider/src/tests/engines/kernel_ingestor_engine/packs/TestGfx950AttentionDenseMatchers.cpp
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_bm128/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd64_nomask_bn32/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/fp16/hd64_nomask_mqa/Small.json
  dnn-providers/integration-tests/integration-test-bundles/standard/SdpaFwd/bshd/bf16/hd128_nomask_bm128/Prefill.json
  dnn-providers/integration-tests/integration-test-bundles/standard/SdpaFwd/bshd/fp16/hd128_causal_crossattn/Prefill.json
Due: none

refactor(integration-tests): file the BSHD attention bundles under SdpaFwd
  dnn-providers/hip-kernel-provider/hipkernel_Gfx950AttentionDense_test_categories_integration.yaml
  dnn-providers/hip-kernel-provider/src/integration_tests/CMakeLists.txt
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_gqa/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd128_causal_mha/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/bf16/hd64_causal_gqa/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/fp16/hd128_causal_mha/Small.json
  dnn-providers/integration-tests/integration-test-bundles/quick/SdpaFwd/bshd/fp16/hd64_causal_gqa/Small.json
  dnn-providers/integration-tests/integration-test-bundles/standard/SdpaFwd/bshd/bf16/hd128_causal_mha/Prefill.json
  dnn-providers/integration-tests/integration-test-bundles/standard/SdpaFwd/bshd/bf16/hd128_nomask_gqa/Prefill.json
Due: none

Add remaining callable_proxy guards
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/merge.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/numeric.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/sorting.hpp
Due: .azuredevops/rocthrust.yml

replace with csrgemm bitmap kernel
  projects/rocsparse/library/src/extra/csrgemm_device.h
  projects/rocsparse/library/src/extra/csrgemm_numeric_device.h
  projects/rocsparse/library/src/extra/csrgemm_symbolic_device.h
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_mult_buffer_size.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_multadd_buffer_size.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_nnz_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_numeric_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_symbolic_calc.cpp
Due: none

test(tensilelite): add set-cover rejection characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/__snapshots__/test_setcover_reject_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/__snapshots__/test_setcover_reject_other_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_other_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r6_subtile3_char.py
Due: none

test(tensilelite): add set-cover emit characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_gemm_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_sparse_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_streamk_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_streamk_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0014-refresh-config-emit-results-after-develop.md
Due: none

test(tensilelite): stabilize set-cover characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_gemm_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_sparse_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/__snapshots__/test_setcover_streamk_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_harness_smoke.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_streamk_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0021-select-config-problem-groups.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0024-select-problem-groups-by-content.md
Due: none

test(tensilelite): address set-cover review
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/conftest.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/reject_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_other_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/codegen_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/list_config_fingerprints.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_harness_smoke.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_streamk_tdm_sgpr_budget_gfx1250_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r6_subtile3_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_streamk_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0014-refresh-config-emit-results-after-develop.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0021-select-config-problem-groups.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0024-select-problem-groups-by-content.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0026-remove-setcover-basename-snapshots.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0027-select-problem-groups-by-generation-inputs.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0028-strengthen-bounded-set-cover-observables.md
Due: none

test(tensilelite): refresh set-cover fingerprints
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
Due: none

test(tensilelite): retain downstream rejection helper
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/config_harness.py
Due: none

docs(tensilelite): renumber set-cover decision after develop
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
Due: none

test(tensilelite): strengthen set-cover characterization
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/DECISIONS.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/__snapshots__/test_setcover_reject_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/__snapshots__/test_setcover_reject_other_char.ambr
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/SolutionDerivationSweep/test_setcover_reject_other_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/codegen_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/config_harness.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_harness_smoke.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_r3_streamk_tdm_sgpr_budget_gfx1250_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_gemm_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_sparse_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/_codegen/test_setcover_streamk_char.py
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0014-refresh-config-emit-results-after-develop.md
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/characterization/adr/0026-remove-setcover-basename-snapshots.md
Due: none

fix(tensilelite) Loading unit test for CI component without rocisa
  projects/hipblaslt/tensilelite/Tensile/Tests/unit/test_solution_uid_uniqueness.py
Due: none

format
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_nnz_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_numeric_calc.cpp
  projects/rocsparse/library/src/extra/rocsparse_csrgemm_symbolic_calc.cpp
Due: none

refactor(rocthrust): use __builtin_mul_overflow for HIPSTDPAR array sizes
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): keep MAP_FIXED ranges mapped when HIPSTDPAR advice fails
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): include <new> in the HIPSTDPAR v1 interposer
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): cover HIPSTDPAR allocation edge paths
  projects/rocthrust/test/hipstdpar/test_calloc.cpp
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): keep glibc memalign alignment semantics in HIPSTDPAR
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): size the HIPSTDPAR MAP_FIXED reservation past system memory
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
Due: .azuredevops/rocthrust.yml

test(rocthrust): tighten HIPSTDPAR allocation test coverage
  projects/rocthrust/test/hipstdpar/CMakeLists.txt
  projects/rocthrust/test/hipstdpar/test_calloc.cpp
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
Due: .azuredevops/rocthrust.yml

fix(rocthrust): harden HIPSTDPAR allocation interposition
  projects/rocthrust/test/hipstdpar/CMakeLists.txt
  projects/rocthrust/test/hipstdpar/test_calloc.cpp
  projects/rocthrust/test/hipstdpar/test_interpose.cpp
  projects/rocthrust/test/hipstdpar/test_realloc.cpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v0.hpp
  projects/rocthrust/thrust/system/hip/hipstdpar/impl/interpose_allocations_v1.hpp
Due: .azuredevops/rocthrust.yml

Path conditions:
  .azuredevops/hipcub.yml: any of: projects/hipcub, but not: projects/hipcub/.githooks, projects/hipcub/.github, projects/hipcub/.gitlab, projects/hipcub/.jenkins, projects/hipcub/docs, projects/hipcub/'.*.y*ml', projects/hipcub/'*.md', projects/hipcub/LICENSE.txt, projects/hipcub/NOTICES.txt
  .azuredevops/hiprand.yml: any of: projects/hiprand, but not: projects/hiprand/.githooks, projects/hiprand/.github, projects/hiprand/.jenkins, projects/hiprand/docs, projects/hiprand/'.*.y*ml', projects/hiprand/'*.md', projects/hiprand/LICENSE.txt
  .azuredevops/rocprim.yml: any of: projects/rocprim, but not: projects/rocprim/.githooks, projects/rocprim/.github, projects/rocprim/.gitlab, projects/rocprim/.jenkins, projects/rocprim/docs, projects/rocprim/'.*.y*ml', projects/rocprim/'*.md', projects/rocprim/LICENSE.txt, projects/rocprim/NOTICES.txt
  .azuredevops/rocrand.yml: any of: projects/rocrand, but not: projects/rocrand/.githooks, projects/rocrand/.github, projects/rocrand/.jenkins, projects/rocrand/docs, projects/rocrand/'.*.y*ml', projects/rocrand/'*.md', projects/rocrand/LICENSE.txt
  .azuredevops/rocthrust.yml: any of: projects/rocthrust, but not: projects/rocthrust/.githooks, projects/rocthrust/.github, projects/rocthrust/.jenkins, projects/rocthrust/doc, projects/rocthrust/docs, projects/rocthrust/'.*.y*ml', projects/rocthrust/'*.md', projects/rocthrust/LICENSE, projects/rocthrust/NOTICES.txt
